{% extends 'index.html' %}

{% block content %}
<body>
    <div class="container container-fluid">
        <div>
            <h2><a href="">Notícia 1</a></h2>
             <p>Publicado em: 14.07.2017, 17:54</p>           
            <p class="text-justify">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
                tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.[...]</p>
            <a href="" class="btn btnSubmit">Continue lendo <i aria-hidden="true" class="fa fa-chevron-right"></i></a>
        </div>

        <div>
            <h2><a href="">Notícia 2</a></h2>
            <p>Publicado em: 14.07.2017, 17:54</p> 
            <p class="text-justify">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, 
                tortor mauris condimentum nibh, ut f[...]</p>
            <a href="" class="btn btnSubmit">Continue lendo <i aria-hidden="true" class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</body>
{% endblock %}